In [25]:
import pandas as pd
import re
import string

In [26]:
# Load your CSV
df = pd.read_csv('../data/bank_reviews_20250609_004921.csv')

In [27]:
# Quick Look
df.head()

,review_text,rating,date,bank_name,source
0,kalid,5,2025-06-08,Dashen Bank,Google Play
1,I like this mobile banking app very much. Over...,2,2025-06-07,Dashen Bank,Google Play
2,love,3,2025-06-06,Dashen Bank,Google Play
3,መቸሸጠ,5,2025-06-03,Dashen Bank,Google Play
4,wow,5,2025-06-03,Dashen Bank,Google Play

In [28]:
# Check Duplicates
print(f"Duplicates: {df.duplicated().sum()}")
df = df.drop_duplicates()# drop duplicates

Duplicates: 1

In [29]:
# Check Missing
print(f"Missing values:\n{df.isnull().sum()}")
df = df.dropna()# erase missing

Missing values:
review_text    0
rating         0
date           0
bank_name      0
source         0
dtype: int64

In [30]:
# Normalize Dates
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # Convert to datetime
df = df.dropna(subset=['date'])                           # Drop rows where date failed to convert
df['date'] = df['date'].dt.strftime('%Y-%m-%d')            # Format back to string YYYY-MM-DD

In [31]:
# Clean Text
def clean_text(text):
    text = text.lower()  # lowercasing
    text = re.sub(r'\d+', '', text)  # remove numbers
    text = text.translate(str.maketrans('', '', string.punctuation))  # remove punctuation
    text = text.strip()  # remove leading/trailing whitespace
    text = re.sub(r'\s+', ' ', text)  # remove extra spaces
    return text

df['clean_review'] = df['review_text'].apply(clean_text)

In [32]:
# Remove Very Short Reviews
df = df[df['clean_review'].str.split().str.len() > 3]

In [33]:
# Save cleaned dataset
df.to_csv('../data/bank_reviews_clean.csv', index=False)

In [38]:

df.head()

,review_text,rating,date,bank_name,source,clean_review
1,I like this mobile banking app very much. Over...,2,2025-06-07,Dashen Bank,Google Play,i like this mobile banking app very much overa...
6,Massive upgrade from the Amole app.,5,2025-05-31,Dashen Bank,Google Play,massive upgrade from the amole app
8,very good for this app,5,2025-05-31,Dashen Bank,Google Play,very good for this app
10,this app better than Amole . but the biometric...,4,2025-05-31,Dashen Bank,Google Play,this app better than amole but the biometric o...
13,wow to it saff and this app,5,2025-05-30,Dashen Bank,Google Play,wow to it saff and this app