## Task 1: Data Collection and Preprocessing

In [52]:
import pandas as pd
import re
import string

In [48]:
original_df = pd.read_csv('../data/bank_reviews_20250609_035132.csv')
print(original_df['bank_name'].value_counts())

bank_name
Commercial Bank of Ethiopia    500
Bank of Abyssinia              500
Dashen Bank                    450
Name: count, dtype: int64

In [54]:
# Load your CSV
df = pd.read_csv('../data/bank_reviews_20250609_035132.csv')

In [55]:
# Quick Look
df.head()

,review_text,rating,date,bank_name,source
0,A great app. It's like carrying a bank in your...,4,2025-06-07,Commercial Bank of Ethiopia,Google Play
1,More than garrantty bank EBC.,4,2025-06-07,Commercial Bank of Ethiopia,Google Play
2,really am happy to this app it is Siple to use...,5,2025-06-07,Commercial Bank of Ethiopia,Google Play
3,I liked this app. But the User interface is ve...,2,2025-06-07,Commercial Bank of Ethiopia,Google Play
4,"""Why don’t your ATMs support account-to-accoun...",4,2025-06-06,Commercial Bank of Ethiopia,Google Play

In [56]:
# Check Duplicates
print(f"Duplicates: {df.duplicated().sum()}")
df = df.drop_duplicates()# drop duplicates

Duplicates: 18

In [57]:
# Check Missing
print(f"Missing values:\n{df.isnull().sum()}")
df = df.dropna()# erase missing

Missing values:
review_text    0
rating         0
date           0
bank_name      0
source         0
dtype: int64

In [58]:
# Normalize Dates
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # Convert to datetime
df = df.dropna(subset=['date'])                           # Drop rows where date failed to convert
df['date'] = df['date'].dt.strftime('%Y-%m-%d')            # Format back to string YYYY-MM-DD

In [60]:
# Clean Text
def clean_text(text):
    text = text.lower()  # lowercasing
    text = re.sub(r'\d+', '', text)  # remove numbers
    text = text.translate(str.maketrans('', '', string.punctuation))  # remove punctuation
    text = text.strip()  # remove leading/trailing whitespace
    text = re.sub(r'\s+', ' ', text)  # remove extra spaces
    return text

df['clean_review'] = df['review_text'].apply(clean_text)

In [61]:
# Remove Very Short Reviews
df = df[df['clean_review'].str.split().str.len() > 3]

In [62]:
# Save cleaned dataset
df.to_csv('../data/bank_reviews_clean.csv', index=False)

In [64]:

df.head()

,review_text,rating,date,bank_name,source,clean_review
0,A great app. It's like carrying a bank in your...,4,2025-06-07,Commercial Bank of Ethiopia,Google Play,a great app its like carrying a bank in your p...
1,More than garrantty bank EBC.,4,2025-06-07,Commercial Bank of Ethiopia,Google Play,more than garrantty bank ebc
2,really am happy to this app it is Siple to use...,5,2025-06-07,Commercial Bank of Ethiopia,Google Play,really am happy to this app it is siple to use...
3,I liked this app. But the User interface is ve...,2,2025-06-07,Commercial Bank of Ethiopia,Google Play,i liked this app but the user interface is ver...
4,"""Why don’t your ATMs support account-to-accoun...",4,2025-06-06,Commercial Bank of Ethiopia,Google Play,why don’t your atms support accounttoaccount t...